@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Raleway", sans-serif; 
}

.navbar .navbar-brand{
    width: 150px;
    margin-left: 40px;
}
.navbar .btn-outline-withe{
    width: 180px; 
    height: 55px; 
    background-color: #7C4EE4; 
    color: #ffff;
}


.collapse .nav-item a{
    color: #333333;
    transition: all 0.5s ease;
}

.collapse .nav-item a:hover{
    color: #7C4EE4;
}

.navbar .collapse img{
    width: 70px; 
    padding: 10px;
}
.container-fluid .container_apartado-hero{
    background-color: #7C4EE4;
}

.container-fluid .container_apartado-hero .img{
    width: 650px;
}


.container_apartado-hero h1 {
    color: #fff;
    font-size:  16px; 
    font-weight: bold;
}

.container_apartado-hero h2 {
    color: #ffff; 
    font-size: 48px; 
    font-weight: bold;
}

.container_apartado-hero p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding-top: 20px;
}

.container-fluid .btn_read_more_blanco {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 45px;
    border-color: #7C4EE4;
    border-right: #7C4EE4;
    border-bottom: #7C4EE4;
    width: 170px; 
    height: 55px;
}

.hero img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .hero {
        padding: 20px;
    }

    .apartado-hero h1 {
        font-size: 2rem;
        padding-top: 10px;
    }

    .apartado-hero h2 {
        font-size: 1.75rem;
    }

    .apartado-hero p {
        font-size: 0.875rem;
        padding-top: 20px;
    }

    .hero .btn_read_more_blanco {
        width: auto;
        height: auto;
    }

    .development .btn_read_more{
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.image-apartado-how-to {
    position: relative;
    width: 1232px; 
    margin: 0 auto; 
  }
  
  
  .overlay-noticia-ia {
    position: absolute;
    top: 80%;
    right: 0%;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 920px;
    height: 300px;
  }

  .overlay-noticia-ia h4{
    font-weight: bold;
    max-width: 784px;
  }

  @media (max-width: 1250px){
    .overlay-noticia-ia h4{
        font-size: 1.5rem;
    }
  }
  
  @media (max-width: 1250px) {
    .image-apartado-how-to {
      width: 100%; 
    }
  
    .overlay-noticia-ia {
      top: auto;
      right: 45%;
      transform: translateX(50%);
      bottom: 0%;
      width: 90%;
    }
  }

  .btn_read_more{
    font-size: 14px;
    font-weight: bold;
    color: #7c4ee4;
    width: 125px;
    height: 40px;
    border-radius: 8px;
    border-color: #7c4ee4;
    transition: all 0.5s ease;
  }

  .btn_read_more:hover{
    color: #fff;
    background-color: #7c4ee4;
  }

@media (max-width: 768px) {
    .noticia-ai {
        border: 2px solid #dbdbdd;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
}

.recent-post h3{
    font-size: 48px;
    font-weight: bold;
}

.boton-view-all{
    font-family: "Roboto", sans-serif;
    background-color: #7C4EE4;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #ffff;
    width: 147px;
    height: 53px;
}

.boton-view-all:hover{
    background-color: #8d6bdb;
    color: #fff;
}

@media (max-width: 768px) {
    .recent-post h3 {
        display: flex;
        text-align: center;
        font-size: 40px;
    }
}

.development h4{
    font-weight: bold;
    font-size: 32px;
}

.development p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}


.Places a{
    font-size: 18px;
    font-weight: bold;
    color: #7c4ee4;
}

.seccion-noticias a{
    font-size: 18px;
    font-weight: bold;
    color: #7c4ee4;
}
.popular-post h3{
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .apartado-boton-view-all{
        display: flex;
        justify-content: center;
    }
}

.seccion-noticias h6{
    font-weight: bold;
    font-size: 21px;
}
.seccion-noticias p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.seccion-noticias a{
    font-family: "Roboto", sans-serif;
    color: #7C4EE4;
    font-weight: bold;
}
.apartado-correo{
    background-color: #7C4EE4;
    height: 400px;
    position: relative;
}

.apartado-correo p{
    color: #bbbb;
    font-size: 16px;
    max-width: 555px;
}

.imagen-footer-1{
    position: absolute;
    left: 0%;
    top: -35%;
    clip-path: inset(50% 0 0 0);
}
.imagen-footer-2{
    position: absolute;
    right: 0%;
    bottom: -35%;
    width: 322px;
    height: 272px;
    clip-path: inset(0 0 50% 0);
}

.footer-titulo{
    max-width: 768px
}

.footer-titulo h2 {
    font-size: 52px;
    font-weight: bold;
    color: #ffff;
}

@media (max-width: 576px) {

    .apartado-footer p {
        font-size: 0.9rem;
        max-width: 100px;
    }
}

@media (max-width: 576px) {

    .footer-titulo h2 {
        font-size: 1.5rem;
    }
}

.boton-submmit-footer{
    width: 200px;
    font-size: 12px;
    font-weight: bold;
}
.footer-anclas a{
    color: black;
}
.social-media-iconos-footer a{
    size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.9 ease;
}

.social-media-iconos-footer a:hover {
    transform: scale(1.1);
}

.bg-facebook{
    background-color: #7C4EE4;
}
.bg-instagram{
    background-color: #7C4EE4;
}
.bg-ln{
    background-color: #7C4EE4;
}
.bg-youtube{
    background-color: #7C4EE4;
}

.linea-divisoria{
    background-color: #7C4EE4;
}

.Example {
    padding-left: 25%;
}

.seccion-blog h6{
    font-weight: bold;
    font-size: 21px;
}

.blogs{
    padding: 84px;
}
.seccion-blog p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.seccion-blog a{
    font-family: "Roboto", sans-serif;
    color: #7C4EE4;
    font-weight: bold;
}

.apartado-correo{
    background-color: #7C4EE4;
    height: 400px;
    position: relative;
}

.Quote {
    justify-items: center;
}

.AcheUno {
    font-weight: 700;
}